@font-face {
    font-family:"AstaghfirullohDemoRegular";
    src: url(Fonts/AstaghfirullohDemoRegular.ttf);
}

@font-face {
    font-family:"Sevarothz";
    src: url(Fonts/Sevarothz.ttf);
}

/* Pang lahat */
*{
    top: 0%;
    right: 0%;
    margin:0%;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body{
    perspective: 1px;
    transform-style: preserve-3d;
    background-color: rgb(0, 0, 0);
}


/*----------------------------- Navbar sa may pinaka taas. */
header, .navbar {
    text-shadow: 2px 2px 3px #ff0000;
    display: flex;
    transition: all 0.6s cubic-bezier(0.23, 1, 0.320, 1);
    position: sticky;
    z-index: 999999;
    justify-content: center;
}

/*------------------------------ PunetZuu logo */

.logo h1 {
    position: relative;
    left: 0px;
    font-size: 60px;
    padding: 0px 0px 8px 0px;  
    color: black;
    font-family: Sevarothz;
    transition-duration: 0.5s;
}


.navbar h1:hover {
    color: #f6f6f6;
    text-shadow: 2px 2px 3px #c70606;
    transform: translate(0, 10px);
    filter: drop-shadow(0 0 5px rgb(213, 53, 8));
}

.nav-links {
    text-align: center;
    align-items: center;  
    transition-duration: 0.5s;
    position: relative;
    padding-left: 20px;
    padding-top: 10px;
}

.nav-links:hover {
    filter: drop-shadow(0 0 5px rgb(213, 53, 8));
    transform: translate(0, 10px);
}

.nav-links a {
    color: rgb(255, 168, 68);
    font-family: Sevarothz;
    font-size: 35px;
}

.nav-links a:hover {   
    color: #f6f6f6;
    text-shadow: 2px 2px 3px #ff6200;
}

.nav-links a img {
    height: 45px;
    width: 45px;
    border-radius: 5px;
}

/*----------------------------------- Landing page. ---------------------------------*/
/*------------------------ Sett landing page video ---------------------------------*/
.background-clips {
    position: relative;
    top: 0px;
    left: 10%;
    height: 45vh;
    width: 80%;
    object-fit:cover;
    background-attachment: fixed;
    z-index: -2;
    
}

/* ----------------------------- ABOUT SECTION ---------------------------- */

.about-section{
    margin: 30px 0px;
    justify-content: center;
    display: grid;
    grid-template-columns: auto 600px;
    width: 100%;
    max-width: 100%;
    max-height: 35vh;
    position: relative;
    gap: 1rem;
}
/*---------------------- Resume Pic -------------------*/
#shades {
    height: 250px;
    width: 200px;
    border: 2px solid rgb(255, 255, 255);
    border-radius: 15px;
    transition-timing-function: ease-in-out;
    transition-duration: 0.5s;   
}

#shades:hover {
    box-shadow: inset 0px 0px 20px 5px rgb(163, 101, 8);
    content: url(Pictures/resume\ -\ Edited.png);
}
    
/*------------------------------ Div ----------------- */
.aboutText{
    cursor: default;
    width: 600px;
}


/* ------------- 2nd Div aboutText ------------  */
#jt{
    max-width: 600px;
    font-size: 90px;
    animation: animate 3s linear infinite;
    animation-delay: 5s;    
}
#location {
    max-width: 600px;
    font-size: 40px;
    animation: animate 3s linear infinite;
    animation-delay: 3s;
}
#ncst {
    padding-top: 10px;
    font-size: 25px;
    max-width: 500px;
    animation: animate 3s linear infinite;
    animation-delay: 1s;
}
@keyframes animate{
    0% {
        color: rgb(255, 255, 255);
        text-shadow: 2px 1px 5px rgb(213, 53, 8);
        filter: drop-shadow(0 0 7px rgb(163, 101, 8));
    }; 
}

/* -------- PHONE NUMBER KO -------- */
#phoneNo{
    font-size: 30px;
}
/*------------------ Hyper link ng resume */
 #resume {
    color: rgb(255, 168, 68);
    font-size: 23px;
    text-decoration: none;
    border: 2px solid rgb(163, 101, 8);
    padding: 12px 25px;
    border-radius: 20px;
    transition: 0.3s;
    z-index: 999999;
    max-width: 500px;
    text-align: center;
    font-family: Sevarothz;
    letter-spacing: 1px;
}
 #resume:hover {
    background-color:black;
    color: rgb(255, 255, 255);
    border: 2px solid rgb(255, 255, 255);
    filter: drop-shadow(0 0 10px rgb(124, 5, 5));
    transform: scale(1.1);
}


.aboutTextDesign {
    width: 100%;
    color: rgb(0, 0, 0);
    text-shadow: 2px 1px 5px rgb(255, 191, 95);
    font-family: Sevarothz;
    filter: drop-shadow(0 0 7px rgb(125, 0, 0));
    transition: ease-in-out;
    transition-duration: 0.2s ;
}
 .aboutTextDesign:hover {
    color: rgb(255, 255, 255);
    text-shadow: 2px 1px 5px rgb(213, 53, 8);
    filter: drop-shadow(0 0 7px rgb(163, 101, 8));
}
    /* visibility: visible; opacity: 0; transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 60, 0, 1); transition: all, opacity 1s cubic-bezier(0.5, 0, 0, 1), transform 1s cubic-bezier(0.5, 0, 0, 1);  */


.content {
    text-align: center;
    z-index: 1;
}

/* ------------------------- Skills Section ---------------------------- */

.skills {
   font-family: Copperplate, Papyrus, fantasy;
   background-color: transparent;
    display: grid;
    grid-template-columns: 400px 360px;
    width: 100%;
    max-width: 100%;
    max-height: auto;
    position: relative;
    gap: 1rem;
    justify-content: center;
}


/* -------Class for style--------- */
.skills-style {
    color: rgb(0, 0, 0);
    text-shadow: 2px 2px 3px #ff0000;
    font-family: Sevarothz;
}
/* ------------------------- 1st Div Skills----- */
#skills-div{
    display: grid;
    grid-template-rows: auto;
}

#skills-div h1 {
    font-size: 90px;
    text-align: center;
}

/* ------------Div inside the 1st Div of Skills ( Skills-class ) ------------ */
#skills-class{
    display: grid;
    grid-template-columns: 150px 200px;
    row-gap: 1rem;
    column-gap: 1rem;
    justify-content: end;
    align-items: end;
    
}

#skills-class h3{
    justify-content: end;
    font-size: 30px;
}

.skills h2 {
    font-size: 50px;
}
/* ---Editing logos Div inside the Skills-class div ------------ */
#editing{
    display: flex;
    gap: 1rem;
}

#editing img{
    border-radius: 5px;
    opacity: 70%;
}
/* ----------------------- 2nd Div skills------------------- */
/* ------------------ Patawad Amanai ----------------- */
#patawad {
    border: 3px solid rgb(255, 255, 255);
    right: 0px;
    top: 0px;
    height: 210px;
    width: 360px;
    border-radius: 10px;
    transition: 0.5s;
    background-color: black;
    margin-bottom: 20px;
}

#patawad:hover {
    filter: drop-shadow(0px 0px 10px rgb(124, 5, 5));
}

#posters{
    display: flex;
    gap: 1rem;
}

.posters {
    border: 3px solid rgb(255, 255, 255);
    border-radius: 10px;
}

.posters:hover {
    filter: drop-shadow(0px 0px 10px rgb(124, 5, 5));
}



/* ----------------------------- PROJECTS SECTION --------------------------------- */
#projects h2{
    color: #f6f6f6;
}


/*--------------------------- Footer ---------------------- */
/* ---------------Contact Section-------------- */
/*------------------------- Contact Left */
.contacts-left{
    margin-right: 40px;
}

.contacts-left > img{
    border-radius: 10px;
    margin-bottom: 10px;
}

.contacts-left > p{
    max-width: 550px;
   color: #f6f6f6;
   font-family: sevarothz;
   letter-spacing: 4px;
   font-size: 30px;
   text-align: center;
}

#contacts {
    display: grid;
    grid-template-columns: auto auto;
    width: 110vh;
    justify-self: center;
    justify-content: center;
    margin: 30px auto 0;
    padding: 30px;
    border-radius: 15px;
    border: 4px solid rgb(163, 101, 8);
    box-sizing: border-box;
}

.contact-container {
    width: 400px;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0,0,0,0.1);
    border: 2px solid rgb(163, 101, 8);
  }

  .contact-container > h2 {
    text-align: center;
    margin-bottom: 20px;
    color: rgb(255, 168, 68);
    letter-spacing: 2px;
    font-family: AstaghfirullohDemoRegular;
  }

  form input, form textarea {
    width: 100%;
    padding: 12px;
    margin: 8px 0 16px;
    border: 1px solid rgb(163, 101, 8);
    border-radius: 6px;
    font-size: 16px;
    box-sizing: border-box;
  }

  form button {
    background-color: #7a0c0c;
    color: rgb(255, 255, 255);
    padding: 12px 20px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 16px;
    transition-duration: 0.5s;
    font-family: AstaghfirullohDemoRegular;
  }

  form button:hover {
    background-color: rgb(255, 255, 255);
    color:#7a0c0c ;
  }

  .form-group {
    display: flex;
    flex-direction: column;
  }
/* ---------------------  contacts input */
.contact-container input, textarea {
    background-color: transparent;
    font-family: 'Times New Roman', Times, serif;
    color: rgb(163, 101, 8);
    letter-spacing: 2px;
  }

.contact-container input, textarea:focus, .contact-container input, textarea:valid {
    color: rgb(163, 101, 8);
    border-color: rgb(163, 101, 8);
    background-color: transparent;
}




  /* Look Sharp meat! your in the main event now.  */
  .knowme {
    margin: 20px auto 20px;
    color: rgb(216, 117, 3);
    font-size: 45px;
    text-shadow: 2px 2px rgb(135, 1, 1);
    transition: 0.3s;
    text-align: center;
    font-family: sevarothz;
}

.knowme:hover {
    color: rgb(255, 255, 255);
    filter: drop-shadow(0 0 5px rgb(255, 128, 0));
    text-shadow: 2px 2px rgb(255, 225, 0);
}

.reserved {
    color: white;
    font-size: 20px;
    justify-self: center;
}



/*----------------------- Media Querry -----------------------*/

@media (max-width: 480px){
    header, .navbar{
        max-width: 480px;
        width: auto;
    }

    .logo h1{
        font-size: 35px;
        padding-right: 10px;
    }

    .nav-links{
        padding: 10px 5px 0;
    }

    .nav-links a{
        font-size: 25px;
    }

    .nav-links a img{
        height: 25px;
        width: 25px;
    }

    .background-clips{
        height: 20vh;
        width: 480px;
        left: 0%;
    }

    .about-section{
        display: inherit;
        grid-template-rows: 480px;
        justify-content: center;
    }

    .aboutText{
        max-width: 480px;
    }

    #shades{
        margin-left:150px ;
    }

    #jt{
        max-width: 480px;
        font-size: 60px;
    }

    #location{
        font-size: 30px;
        max-width:480px ;
    }

    #ncst{
    max-width: 480px;
    }

    #resume{
/* sssssssssssssssssssssssssssssssss */
    }
/*-------------------------- Skills Section ------------*/
    #skills.skills{
        display: inherit;
        grid-template-rows: 480px;
        margin-top: 200px;
    }

    #skills-div h1{
        font-size: 60px;
    }

    #patawad{
        height: 210px;
        width: 360px;
    }

    #skills-class{
        display: inherit;
        grid-template-rows:auto;
    }

/*--------------------footer----------------  */
#contacts{
    width: 480px;
    padding: 10px;
    display: inherit;
    grid-template-rows: 480px;
}

.contacts-left {
    width: 450px;
    margin: 0;
    padding: 0;
}

.contacts-left > img{
    border-radius: 10px;
    margin-bottom: 10px;
    width: 450px;
}

.contacts-left  p{
   width: 450px;
   letter-spacing: 4px;
   font-size: 20px;
   text-align: center;
   padding: 20px 0 20px;
}

.contact-container{
    justify-self: center;
}

.knowme{
    font-size: 40px;
}

}
